* {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: inline-block;
}

article,
figure,
header,
footer {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-size: cover;
}

nav {
    width: 100vw;
    height: 50px;
    background-color: lightgray;
}

header {
    background-image: url(/images/pot-plant.jpg);
}

figure {
    background-image: url(/images/swings.jpg);
    margin: 0;
}

h1 {
    width: 35%;
    text-align: center;
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;
    border-radius: 10px;
}

section {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-image: url(/images/wall.jpg);
    background-repeat: repeat-x;
}

article,
footer {
    background-color: lightgray;
}

article>div {
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
}

article>div>p {
    column-count: 2;
    margin: 100px;
    font-size: 1vw;

}

article>section {
    width: 70%;
    padding-left: 15%;
    background: none;
}

article>section>p {
    padding-top: 5%;
    font-size: 1vw;
}

article>section>h2 {
    padding-top: 5%;
    font-size: 2vw;
}

section>div {
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

section>div>p {
    width: 50%;
    margin: auto;
    padding-top: 10px;
    font-weight: bold;
    font-size: 0.8vw;
}

section>div>h2 {
    padding-left: 25%;
    padding-top: 2%;
    font-size: 1.5vw;
}

section>div>img {
    width: 30%;
    padding-left: 35%;
    padding-top: 2%;
}